/* Navbar container */
.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: #121212; /* Deep Black */
    padding: 15px 20px;
    box-shadow: 0 4px 8px rgba(255, 102, 0, 0.3); /* Orange shadow */
}

/* Navbar links */
.navbar a {
    color: #d35400; /* Dark Orange */
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    padding: 12px 20px;
    margin: 0 15px;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}

/* Hover effect */
.navbar a:hover {
    background: rgba(211, 84, 0, 0.3);
    color: #fff;
    transform: scale(1.05);
}

/* Active link styling */
.navbar a.active {
    background: #e59662; /* Dark Orange */
    color: #121212; /* Black */
    font-weight: bold;
    padding: 12px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(255, 102, 0, 0.5);
}
.logout-button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .logout-button:hover {
    background-color: darkred;
  }
  